


table, tr, td {
  border: 1px solid black;
}
tr {
  border: 1px solid black;
}
td {
  border: 1px solid black;
}




.inline-div {
	display:inline-block;
	align-items: center;
}

#header{
  font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif; 
  font-size: 20px; 
  font-style: normal; 
  font-variant: normal; 
  font-weight: 400; 
  line-height: 26.4px; 
  width: 100%; 
  margin: 0 !important; 
  padding: 0; 
  top: 0; 
  left: 0; 
  max-width:10000px; 
}

#AverageR{
  background-color: #1279c5;
  color: white;
}
#Titles{
  font-family: "Trebuchet MS";  font-style: normal; font-variant: normal;
  font-size:40px;
}

#rating_title{  font-family: "Trebuchet MS";  font-style: normal; font-variant: normal;
  font-size:30px;
}
#description{
  font-family: "Gill Sans";  font-style: normal; font-variant: normal;
  font-size:18px;
}

form button { margin: 5px 0px; }
textarea { display: inline-block; margin-bottom: 10px; }
/*post*/
.post { 
	border: 1px solid #ccc; 
	padding: 10px;
	 
	margin: 10px;
	width: auto;
}
/*comments*/
.comments-section { margin: 10px; border: 1px solid #ccc; }
.comment { margin-bottom: 10px; }
.comment .comment-name { font-weight: bold; }
.comment .comment-date {
	font-style: italic;
	font-size: 0.8em;
}
.comment .reply-btn, .edit-btn { font-size: 0.8em; }
.comment-details { width: auto; 
  float: left;
 }
.comment-details p { margin-bottom: 0px; }
.comment .profile_pic {
	width: 35px;
	height: 35px;
	margin-right: 5px;
	float: left;
	border-radius: 50%;
	
}
/*replies*/
.reply { margin-left: 30px; }
.reply_form {
	margin-left: 40px;
	display: none;
}
#comment_form { margin-top: 10px;  font-family: "Gill Sans";  font-style: normal; font-variant: normal;
}

body{
  background-color:#FDFEFF;
	
}
h2{
	margin-top:10px;
	
}

.img-center {margin:0 auto;}


.site-footer
{
  background-color: #D0E7F5 !important;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}


.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

